<?xml version="1.0"?>
<launch>
    
    <!-- The node name for the deployer -->
    <arg name="NAME" default="$(anon deployer)"/>
    <!-- Orocos target (gnulinux, xenomai, etc) -->
    <arg name="OROCOS_TARGET" default="$(optenv OROCOS_TARGET)"/>
    <!-- Path to look for dynamically-loaded plugins and components (something like /lib/orocos) -->
    <arg name="RTT_COMPONENT_PATH" default="$(env RTT_COMPONENT_PATH)"/>
    
    <!-- Launch deployer -->
    <node
      name="$(arg NAME)"
      pkg="rtt_ros" type="deployer" 
      args="-s $(find rtt_control_components)/test/test-controller.ops"
      output="screen">
      <env name="OROCOS_TARGET" value="$(arg OROCOS_TARGET)"/>
      <env name="RTT_COMPONENT_PATH" value="$(arg RTT_COMPONENT_PATH)"/>
    </node>

</launch>
